body{
  background: blueviolet;
  color:white;
  max-width: 1000px;
  margin: 0 auto;
}
h1{
  text-align: center;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}